<template>
  <div v-show="isOpen" class="">
    <transition

    >
      <div v-show="isOpen" class="">
        <div class=""></div>
      </div>
    </transition>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class=""></span>&#8203;

    <transition

    >
      <div v-show="isOpen"
           class=""
           role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
          <button type="button" @click.prevent="cancel"
                  class=""
                  aria-label="Close">
            <!-- Heroicon name: x -->
            <i class="text-white ni ni-fat-remove"></i>
          </button>
        </div>
        <div class="">
          <div
              class="">
            <!-- Heroicon name: exclamation -->
          </div>
          <div class="">
            <h3 class="" id="modal-headline">
              {{ title }}
            </h3>
            <div class="mt-2">
              <p class="">
                {{ description }}
              </p>
            </div>
          </div>
        </div>
        <div class="mt-5 ">
          <span class="flex w-100 rounded-lg shadow">
            <button type="button" @click.prevent="confirm"
                    class="">
              {{ confirmText }}
            </button>
          </span>
          <span class="flex w-100 rounded-lg shadow">
            <button type="button" @click.prevent="cancel"
                    class="btn btn-primary">
              Cancel
            </button>
          </span>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    value: {default: false, type: Boolean},
    title: {required: true, type: String},
    confirmText: {required: true, type: String},
    description: {type: String},
  },

  data() {
    return {}
  },

  mounted() {

  },

  methods: {
    cancel() {
      this.$emit('cancelled');
      this.close();
    },

    confirm() {
      this.$emit('confirmed');
      this.close();
    },

    close() {
      this.$emit('input', false);
    }
  },

  computed: {
    isOpen() {
      return this.value;
    }
  }
}
</script>
