<template>
<!--  <card>

  </card>-->
  <card
    class="no-border-card"
    body-classes="px-0 pb-1 py-3"
    footer-classes="pb-2"
  >
    <div class="row px-4 pb-3">
      <label class="mt-2">Filter:</label>
      <div class="col-2 pr-0">
        <el-input
          type="search"
          clearable
          placeholder="Product Name"
          v-model="searchQuery"
          aria-controls="datatables"
        >
        </el-input>
      </div>
      <div class="col-2 pr-0">
        <el-input
          type="search"
          clearable
          placeholder="EAN Code"
          v-model="searchQuery"
          aria-controls="datatables"
        >
        </el-input>
      </div>
      <div class="col-2 pr-0">
        <el-input
          type="search"
          clearable
          placeholder="SKU Code"
          v-model="searchQuery"
          aria-controls="datatables"
        >
        </el-input>
      </div>

    </div>
    <div>
<!--      <div
        class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
      >
        <el-select
          class="select-primary pagination-select"
          v-model="pagination.perPage"
          placeholder="Per page"
        >
          <el-option
            class="select-primary"
            v-for="item in pagination.perPageOptions"
            :key="item"
            :label="item"
            :value="item"
          >
          </el-option>
        </el-select>

        <div>
          <el-input
            type="search"
            class="mb-3"
            clearable
            prefix-icon="el-icon-search"
            style="width: 200px"
            placeholder="Search records"
            v-model="searchQuery"
            aria-controls="datatables"
          >
          </el-input>
        </div>
      </div>-->

<!--        <el-table
          :data="queriedData"
          row-key="id"
          header-row-class-name="thead-light"
          @selection-change="selectionChange"
        >
          <el-table-column min-width="100" prop="index" label="Sr No"></el-table-column>
          <el-table-column min-width="150" prop="name"
                           label="EAN Code">
          </el-table-column>
          <el-table-column min-width="150" prop="job"
                           label="HSN Code">
          </el-table-column>
          <el-table-column min-width="150" prop="salary"
                           label="Brand Name">
          </el-table-column>
          <el-table-column min-width="160" prop="salary"
                           label="Mftr Article No/SKU Code">
          </el-table-column>
          <el-table-column min-width="200" prop="salary"
                           label="Product Category">
          </el-table-column>
          <el-table-column min-width="150" prop="salary"
                           label="Product Name">
          </el-table-column>
          <el-table-column min-width="150" prop="salary"
                           label="Product Image">
          </el-table-column>
          <el-table-column min-width="150" prop="salary"
                           label="UOM">
          </el-table-column>
          <el-table-column min-width="160" prop="salary"
                           label="UOM Conversion">
          </el-table-column>
          <el-table-column min-width="150" prop="salary"
                           label="Shelf Life In">
          </el-table-column>
          <el-table-column min-width="180px" align="right" label="Actions">
            <template v-slot:default="props">
              <div class="d-flex">
                <base-button
                  @click="handleLike(props.$index, props.row)"
                  class="like btn-link"
                  type="info"
                  size="sm"
                  icon
                >
                  <i class="text-white ni ni-like-2"></i>
                </base-button>
                <base-button
                  @click="handleEdit(props.$index, props.row)"
                  class="edit"
                  type="warning"
                  size="sm"
                  icon
                >
                  <i class="text-white ni ni-ruler-pencil"></i>
                </base-button>
                <base-button
                  @click="handleDelete(props.$index, props.row)"
                  class="remove btn-link"
                  type="danger"
                  size="sm"
                  icon
                >
                  <i class="text-white ni ni-fat-remove"></i>
                </base-button>
              </div>
            </template>
          </el-table-column>
        </el-table>-->
      <Table>
        <template #thead>
          <tr>
            <th>Sr No</th>
            <th>ID</th>
            <th>EAN Code</th>
            <th>HSN Code</th>
            <th>Brand Name</th>
            <th>Mftr Article No/SKU Code</th>
            <th>Product Category</th>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>UOM</th>
            <th>UOM Conversion</th>
            <th>Shelf Life In Days</th>

          </tr>

        </template>
        <template #tbody>
          <tr v-for="(data,index) in productData" :key="data._id">
            <td>{{index+1}}</td>
            <td>{{data._id}}</td>
            <td>{{ data.EANCode }}</td>
            <td>{{ data.HSNCode }}</td>
            <td>{{ data.brandName }}</td>
            <td>{{ data.SKUCode }}</td>
            <td>{{ data.productCategory }}</td>
            <td>{{ data.productName }}</td>
            <td>{{ data.productImage }}</td>
            <td>{{ data.UOM }}</td>
            <td>{{ data.UOMConversation }}</td>
            <td>{{ data.shelfLifeDays }}</td>

            <td>
              <router-link :to="{name:'SchemesEdit',params: { id: data._id}}">
                <button type="button"
                        class="btn base-button btn-icon btn-fab btn base-button btn-default btn-sm edit">
                  <i class="text-white ni ni-ruler-pencil"></i>

                </button>
              </router-link>

              <button type="button"
                      class="btn base-button btn-icon btn-fab btn-danger btn-sm remove btn-link"
                      @click.prevent="destroy(data._id)"
              >
                <i class="text-white ni ni-fat-remove"></i>

              </button>



            </td>
          </tr>

        </template>
      </Table>

    </div>
    <template v-slot:footer>
      <div
        class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
      >
        <div class="">
          <p class="card-category">
            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
          </p>
        </div>
        <base-pagination
          class="pagination-no-border"
          v-model="pagination.currentPage"
          :per-page="pagination.perPage"
          :total="total"
        >
        </base-pagination>
      </div>
    </template>
  </card>

</template>
<script>
import {
  ElTable,
  ElTableColumn,
  ElSelect,
  ElOption,
  ElInput,
} from "element-plus";

import BasePagination from "@/components/BasePagination";
import swal from "sweetalert2";
import users from "../../../views/Tables/users2";
import Card from "../../Cards/Card";
import axios from "axios";

export default {
  components: {
    Card,
    BasePagination,

    [ElSelect.name]: ElSelect,
    [ElOption.name]: ElOption,
    [ElTable.name]: ElTable,
    [ElInput.name]: ElInput,
    [ElTableColumn.name]: ElTableColumn,
  },
  computed: {
    pagedData() {
      return this.tableData.slice(this.from, this.to);
    },
    /***
     * Searches through table data and returns a paginated array.
     * Note that this should not be used for table with a lot of data as it might be slow!
     * Do the search and the pagination on the server and display the data retrieved from server instead.
     * @returns {computed.pagedData}
     */
    queriedData() {
      if (!this.searchQuery) {
        return this.pagedData;
      }
      let result = this.tableData.filter((row) => {
        let isIncluded = false;
        for (let key of this.propsToSearch) {
          let rowValue = row[key].toString();
          if (rowValue.includes && rowValue.includes(this.searchQuery)) {
            isIncluded = true;
          }
        }
        return isIncluded;
      });

      return result.slice(this.from, this.to);
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    },
  },
  data() {
    return {
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0,
      },
      searchQuery: "",
      propsToSearch: ["name", "email"],
      tableData: users,
      fuseSearch: null,
      searchedData: [],
      productData:[],
    };
  },
  mounted() {
    this.fetchProduct();
  },
  methods: {

    fetchProduct(){
      axios.get("http://localhost:9999/api/product/get")
        .then(response=>{
          this.productData=response.data;
          console.log(this.productData);
        });
    },

    handleEdit(index, row) {
      const swalWithBootstrapButtons2 = swal.mixin({
        customClass: {
          confirmButton: "btn btn-info btn-fill",
        },
        buttonsStyling: false,
      });

      swalWithBootstrapButtons2.fire({
        title: `You want to edit ${row.name}`,
      });
    },
    handleDelete(index, row) {
      const swalWithBootstrapButtons3 = swal.mixin({
        customClass: {
          confirmButton: "btn btn-success btn-fill",
          cancelButton: "btn btn-danger btn-fill",
        },
        buttonsStyling: false,
      });
      swalWithBootstrapButtons3
        .fire({
          title: "Are you sure?",
          text: `You won't be able to revert this!`,
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
        })
        .then((result) => {
          if (result.value) {
            this.deleteRow(row);
            swalWithBootstrapButtons3.fire({
              title: "Deleted!",
              text: `You deleted ${row.name}`,
            });
          }
        });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
