<template>
  <card>
    <div class="container ct-example-row">
      <form action="">
        <div>
          <h3><b>Group Heading 1</b></h3>
          <div class="row mt-3">

            <div class="col-sm">
              <label class=" form-control-label">Product Category</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-sm">
              <label class=" form-control-label">Product Name</label>
              <input
                class="form-control"
                type="text"
                placeholder="Enter Product Name"
              />

            </div>
            <div class="col-sm">
              <label class=" form-control-label">Brand Name</label>
              <input
                class="form-control"
                name="text"
                placeholder="Enter Brand Name"
              />
            </div>

          </div>
          <div class="row">

            <div class="col-sm">
              <label class=" form-control-label">MRP</label>
              <input
                class="form-control"
                name="text"
                placeholder="Enter MRP of Product"
              />
            </div>
            <div class="col-sm">
              <label class=" form-control-label">Selling Price</label>
              <input
                class="form-control"
                name="text"
                placeholder="Enter Selling Price"
              />

            </div>
            <div class="col-sm">
              <label class=" form-control-label">Product Image</label>
              <file-input  @change="filesChange"></file-input>

            </div>

          </div>
        </div>
        <div class="mt-4">
          <h3><b>Group Heading 2</b></h3>
          <div class="row mt-3">

            <div class="col-sm">
              <label class=" form-control-label">Mftr Article No/SKU Code</label>
              <input
                class="form-control"
                name="text"
                placeholder="Enter Mftr Article No/SKU Code"
              />
            </div>
            <div class="col-sm">
              <label class=" form-control-label">HSN Code</label>
              <input
                class="form-control"
                name="text"
                placeholder="Enter HSN Code"
              />

            </div>
            <div class="col-sm">
              <label class=" form-control-label">EAN Code</label>
              <input
                class="form-control"
                name="text"
                placeholder="Enter EAN Code"
              />
            </div>

          </div>
          <div class="row">

            <div class="col-sm">
              <label class=" form-control-label">Self Life in Days</label>
              <input
                class="form-control"
                name="text"
                placeholder="Enter Self Life of Product in Days"
              />
            </div>
            <div class="col-sm">
              <label class=" form-control-label">UOM</label>
              <input
                class="form-control"
                name="text"
                placeholder="Enter UOM"
              />

            </div>
            <div class="col-sm">
              <label class=" form-control-label">UOM Conversion-PCS</label>
              <base-input
                name="text"
                placeholder="Enter UOM Conversion-PCS"
              ></base-input>

            </div>

          </div>
        </div>
        <div class="mt-4">
          <h3><b>Group Heading 3</b></h3>
          <div class="row mt-3">

            <div class="col-sm">
              <label class=" form-control-label">Margin</label>
              <base-input
                name="text"
                placeholder="Enter Margin"
              ></base-input>
            </div>
            <div class="col-sm">
              <label class=" form-control-label">Schemes</label>
              <base-input
                name="text"
                placeholder="Enter Scheme"
              ></base-input>

            </div>
            <div class="col-sm">
              <label class=" form-control-label">Remarks</label>
              <base-input
                name="text"
                placeholder="Enter Remarks"
              ></base-input>
            </div>

          </div>
          <div class="row">

            <div class="col-sm">
              <label class=" form-control-label">Active</label>
              <div class="mt-2">
                <base-switch ></base-switch>
              </div>

            </div>

          </div>
        </div>
        <div class="text-right">
          <base-button outline type="default">Cancel</base-button>
          <base-button type="default">Submit</base-button>
        </div>


      </form>

    </div>
  </card>
</template>

<script>
//import DropzoneFileUpload from "../../Inputs/DropzoneFileUpload";
import FileInput from "../../Inputs/FileInput";
import BaseSwitch from "../../BaseSwitch";
export default {
  components: {BaseSwitch, FileInput, },
  data(){
    return{
      inputs: {
        file: [],
      },
    }
  },
  methods:{
    filesChange(files) {
      this.inputs.file = files;
    },
  }
};
</script>
